:root {
    --clr-primary: #252627;
    --clr-secondary: #2c3034;
    --clr-neutral: #D3D4D9;
    --clr-blue: #048BA8;
    --clr-orange: #F18F01;
    --clr-red: #BB0A21;
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: var(--clr-primary);
    font-family: sans-serif;
    padding: 0.6rem;
    min-height: 100vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

.header__logo img {
    transform: scale(2);
}

.header__reset {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: var(--clr-neutral);
}

main {
    display: grid;
    place-items: center;
    width: 100%;
}

.result__overlay {
    background: hsl(0, 0%, 9%);
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    display: none;
}

.result__modal {
    background-color: var(--clr-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
    min-width: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    display: none;
}

.result__modal-actions {
    padding-top: 2rem;
    display: inline-flex;
    gap: 1rem;
}

.btn {
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 1rem;
    width: 130px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--clr-primary);
}

.next {
    background-color: var(--clr-orange);
}

.leave {
    background-color: var(--clr-neutral);
}

.gameboard__section {
    width: 310px;
    min-height: 310px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.cell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-secondary);
    border-radius: 0.5rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
    font-size: 4rem;
    cursor: pointer;
    transition: all 0.4s;
}

.cell.available:hover {
    background-color: #484c51;
}

.info__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1rem;
}

.scores-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    gap: 2rem;
}

.score-container {
    background-color: #2c3034;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.player {
    font-size: 0.69rem;
    text-transform: uppercase;
    font-weight: 100;
}

.score {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    padding: 2rem 0;
}

.attribution {
    text-align: center;
}